<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link to your CSS file -->
    <title>Portfolio - Home</title>
</head>
<body>
    <header>
        <div class="header-content">
            <a href="/" class="name">zwniff</a> <!-- Name linked to home -->
            <nav>
                <a href="/project">Projects</a>
                <a href="/contact">Contact</a>
                <a href="/about">About</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="welcome-box">
            <h2>Malfino Muhammad Willianz</h2>
            <p>A student who is pursuing a Bachelor's degree. Has an interest in data science, data analysis, and programming languages, along with a passion for cutting-edge technology. In the future, he aims to spearhead technological advancements in the field of data science and programming.</p>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 zwniff.</p>
    </footer>
</body>
</html>